body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffefc;
  color: #333;
  margin: 0;
  padding: 0;
}

header{
  background-color: #ff7f50;
  color: white;
  padding: 2rem;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
header h1 {
  text-align: center;
  margin: 0;
  font-size: 5rem;
  letter-spacing: 1.5px;
}

#search-container {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
  gap: 0,5rem;
  margin: 1rem; 
}

#search-input{
  width: 100%;
  padding: 0,5rem ;
  font-size: 1rem;
  border: none;
  border-radius:  8px;
  
}
#search-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

#search-button:hover {
  background-color: #ff5722;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3rem;
  padding: 0 2rem;
}

.filters-left select {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
}

.filters-right button {
  background-color: #ffb5a7;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.meal-card {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s ease;
}

.meal-card:hover {
  transform: translateY(-5px);
}

.meal-card img {
  width: 100%;
  height: auto;
}

.meal-info {
  padding: 1rem;
}

.meal-info h2 {
  margin: 0 0 0.5rem;
  font-size: 1.25rem;
}

.meal-info p {
  font-size: 0.95rem;
  color: #666;
}